<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/logo.png" alt="Logo" class="logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
<!-- contenido -->
    <!-- banner -->
    <section class="banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="banner-title">Descubre nuestra colección de ropa íntima</h2>
              <p class="banner-text">Encuentra los mejores diseños y estilos para sentirte cómoda y sensual.</p>
              <a href="#" class="btn btn-primary">Ver Colección</a>
            </div>
            <div class="col-lg-6">
              <img src="https://www.ilusion.com/dw/image/v2/BHGD_PRD/on/demandware.static/-/Library-Sites-IlusionSharedLibrary/default/dw445fb6b3/ILUSION/HOME/MAY/06JUN_HOTSALE_JUVENIL.jpg" alt="Banner" class="banner-image">
            </div>
          </div>
        </div>
      </section>
    <!-- productos destacados -->
    <section class="featured-products">
        <div class="container">
          <h2 class="section-title">Productos Destacados</h2>
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="product-card">
                <img src="https://omnivickyformb2c.vtexassets.com/arquivos/ids/187682-800-auto?v=638140022830130000&width=800&height=auto&aspect=true" alt="Producto 1" class="product-image">
                <h4 class="product-name">Sujetador de Encaje</h4>
                <p class="product-price">$29.99</p>
                <a href="#" class="btn btn-primary">Ver Detalles</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="product-card">
                <img src="https://omnivickyformb2c.vtexassets.com/arquivos/ids/187682-800-auto?v=638140022830130000&width=800&height=auto&aspect=true" alt="Producto 2" class="product-image">
                <h4 class="product-name">Tanga de Satén</h4>
                <p class="product-price">$14.99</p>
                <a href="#" class="btn btn-primary">Ver Detalles</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="product-card">
                <img src="https://omnivickyformb2c.vtexassets.com/arquivos/ids/187682-800-auto?v=638140022830130000&width=800&height=auto&aspect=true" alt="Producto 3" class="product-image">
                <h4 class="product-name">Pijama de Seda</h4>
                <p class="product-price">$49.99</p>
                <a href="#" class="btn btn-primary">Ver Detalles</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="product-card">
                <img src="https://omnivickyformb2c.vtexassets.com/arquivos/ids/187682-800-auto?v=638140022830130000&width=800&height=auto&aspect=true" alt="Producto 4" class="product-image">
                <h4 class="product-name">Braguita de Algodón</h4>
                <p class="product-price">$9.99</p>
                <a href="#" class="btn btn-primary">Ver Detalles</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- productos recomendados -->
    <section class="recommended-products">
        <div class="container">
          <h2 class="section-title">Productos Recomendados</h2>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="product-card">
                <img src="https://omnivickyformb2c.vtexassets.com/arquivos/ids/187682-800-auto?v=638140022830130000&width=800&height=auto&aspect=true" alt="Producto 1" class="product-image">
                <h4 class="product-name">Sujetador de Encaje</h4>
                <p class="product-price">$29.99</p>
                <a href="#" class="btn btn-primary">Ver Detalles</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="product-card">
                <img src="https://omnivickyformb2c.vtexassets.com/arquivos/ids/187682-800-auto?v=638140022830130000&width=800&height=auto&aspect=true" alt="Producto 2" class="product-image">
                <h4 class="product-name">Tanga de Satén</h4>
                <p class="product-price">$14.99</p>
                <a href="#" class="btn btn-primary">Ver Detalles</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="product-card">
                <img src="https://omnivickyformb2c.vtexassets.com/arquivos/ids/187682-800-auto?v=638140022830130000&width=800&height=auto&aspect=true" alt="Producto 3" class="product-image">
                <h4 class="product-name">Pijama de Seda</h4>
                <p class="product-price">$49.99</p>
                <a href="#" class="btn btn-primary">Ver Detalles</a>
              </div>
            </div>
          </div>
        </div>
      </section>
<!-- footer -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Contacto</h5>
          <p>Correo electrónico: info@ropaintima.com</p>
          <p>Teléfono: +1234567890</p>
        </div>
        <div class="col-md-6">
          <h5>Síguenos en redes sociales</h5>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="text-center">&copy; 2023 Ropa Íntima. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>